@model TogoFogo.Models.UserRole1

@{
    ViewBag.Title = "EditUserType1";
}
<input type="button" class="btn btn-sm btn-info btnSize" value="Back To List" onclick="@("window.location.href='" + @Url.Action("createRole1", "Master",new { }) + "'");" />
<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add Role<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @{Html.RenderPartial("AddRoleChild");}
               
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <div class="x_panel">
            <div class="x_title">
                <h2>List Of Menu's<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
               
                    @{Html.RenderPartial("MenuList", Model.TableMenu);}
               

            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts{
    <script>
        $("#UserType").change(function () {
            debugger;
            var end = this.value;
            var firstDropVal = $('#UserType').val();
            $("#test1 tbody tr").remove();
            $.ajax({
                type: 'GET',
                url: "/Master/SubMenuUserType?UserTypeID=" + firstDropVal,
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (response) {
                    debugger;
                    var Quan = 1;
                    var trHTML = '';
                    $.each(response, function (i, item) {
                        trHTML += '<tr style="padding-top:5px"><td hidden>' + item.ParentMenuId + '</td><td>' + item.ParentMenuName + '</td><td hidden>' + item.MenuCap_ID + '</td><td>' + item.Menu_Name + '</td><td><input type="checkbox" checked="checked" name="foo" value="' + item.MenuCap_ID + '" /></td></tr>';
                    });
                    $('#test1').append(trHTML);
        $("#tableMenuDiv").show();
                    check_checkbox(UserId, MainMenu);
                },
                error: function (e) {
                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }

            });
        });
        function checkSubmit() {
            var listName = "TableMenu";
            var table = $("#test1 tbody");
            var qtd = 0;
            table.find('tr').each(function (i) {
                var $tds = $(this).find('td');
                //console.log($tds);

                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].MenuCap_ID'value='" + $tds.eq(0).text() + "'>");
                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].Menu_Name' value='" + $tds.eq(1).text() + "'>");
                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].SubMenuName' value='" + $tds.eq(2).text() + "'>");
                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].ParentMenuID' value='" + $tds.eq(3).text() + "'>");
                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].isNewlyEnrolled' value='" + $tds.find('input:checkbox').is(':checked') + "'>");

                qtd += 1;
            });
            return true;
        }
       
    </script>
}