@using TogoFogo.Models
@model IEnumerable<ProductModel>

@{
    Layout = null;
}
@using (Html.BeginForm("BulkProduct", "Master", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12">
        <div class="row" style="padding-bottom: 5px;">
            <input type="file" name="postedFile" />
            <input type="submit" value="Import" />
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>

}
@if (Model.Count() > 0)
{
    <hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Customer Id</th>
            <th>Name</th>
            <th>Country</th>
        </tr>
        @foreach (ProductModel pro in Model)
        {
            <tr>
                <td>@pro.Brand_ID</td>
                <td>@pro.Category</td>
                
            </tr>
        }
    </table>
}
