
@{
    ViewBag.Title = "UserRole";

}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add User Role<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @Html.Action("CreateUserRole", "Master")
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>List Of All Roles<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="overflow-x: scroll;">
                @Html.Action("TableRole", "Master")
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="Editmodel" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Role</h4>
            </div>

            <div class="modal-body" id="Info">@Html.Partial("EditUserRole")</div>
        </div>

    </div>
</div>



@if (ViewBag.Message != null)
{
    <div id="snackbar">@ViewBag.Message</div>
}
@if (ViewBag.Message != null)
{
    <script>

        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

    </script>
}

@section scripts{
    <script>
        function EditRole(RoleId) {
            $.ajax({
                type: 'GET',
                url: "/Master/EditUserRole?RoleId=" + RoleId,
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (response) {
                    debugger;
                    $('#UserType').val(response.UserTypeId);
                    $('#UserRole').val(response.UserRole);
                    //$("#Info").html(response);
                },
                error: function (e) {

                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }
            });
        }
        $("#UserType").change(function () {
            debugger;
            var end = this.value;
            var firstDropVal = $('#UserType').val();
            $("#test1 tbody tr").remove();
            $.ajax({
                type: 'GET',
                url: "/Master/SubMenuUserType?UserTypeID=" + firstDropVal,
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (response) {
                    debugger;
                    var Quan = 1;
                    var trHTML = '';
                    $.each(response, function (i, item) {
                        trHTML += '<tr style="padding-top:5px"><td hidden>' + item.ParentMenuId + '</td><td>' + item.ParentMenuName + '</td><td hidden>' + item.MenuCap_ID + '</td><td>' + item.Menu_Name + '</td><td><input type="checkbox" name="foo" value="' + item.MenuCap_ID + '" /></td></tr>';
                    });
                    $('#test1').append(trHTML);
                    check_checkbox(UserId, MainMenu);
                },
                error: function (e) {
                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }

            });
        });

        function checkSubmit() {
            debugger;
            var listName = "TableData";
            var table = $("#test1 tbody");
            var qtd = 0;
            table.find('tr').each(function (i) {
                var $tds = $(this).find('td');
               
                var $boxes1 = $tds.eq(4).find('input[name=foo]').prop('checked');
               
                if ($boxes1 == true) {
                    //$("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablespaceCC_NOField' value='" + document.getElementById('CcNo').value + "'>");
                    $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].MenuId' value='" + $tds.eq(2).text() + "'>");
                    $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].ParentMenu_id' value='" + $tds.eq(0).text() + "'>");
                    qtd += 1;
                } else {
                    i++;
                }
               

              
            });
            return true;
        }
    </script>
}

