
@{
    ViewBag.Title = "UserMaster";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> Create User<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @Html.Action("CreateUser", "Master")
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>List Of All Users<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="overflow-x: scroll;">
                @Html.Action("UserTable", "Master")
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="Editmodel" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit User</h4>
            </div>

            <div class="modal-body" id="Info">@Html.Partial("EditUser")</div>
        </div>

    </div>
</div>
@if (ViewBag.Message != null)
{
    <div id="snackbar">@ViewBag.Message</div>
}
@if (ViewBag.Message != null )
{
    <script>

        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

    </script>
}
@section scripts{
    <script>
        //function remoteValidation() {
        //    debugger
        //    var d = $('#UserName').val();
        //    alert(d);
        //    $.ajax({
        //        type: 'GET',
        //        url: "/Master/RemoteValidationforUserName?Username=" + d,
        //        contentType: 'application/json; charset=utf-8',
        //        cache: false,
        //        success: function (response) {
        //            $("#Info").html(response);
        //        },
        //    });
        //}
        function AjaxWithValue(method, ddl, e) {
            var val = e.value;
            debugger;
            $.ajax({
                type: "GET",
                url: "/DropdownBind/" + method + "?value=" + val,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#" + ddl).empty();

                    //var sel = new Option('-Select-', '');
                    //$('#' + ddl).append(sel);
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Text, data[i].Value);
                        $('#' + ddl).append(opt);
                    }
                }
            });
        }
        $("#UserRole").change(function () {
            debugger;
            var end = this.value;
            var firstDropVal = $('#UserRole').val();
            $("#test1 tbody tr").remove();
            $.ajax({
                type: 'GET',
                url: "/Master/SubMenuRole?RoleID=" + firstDropVal,
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (response) {
                    debugger;
                    var Quan = 1;
                    var trHTML = '';
                    $.each(response, function (i, item) {
                        trHTML += '<tr style="padding-top:5px"><td hidden>' + item.ParentMenuId + '</td><td>' + item.ParentMenuName + '</td><td hidden>' + item.MenuCap_ID + '</td><td>' + item.Menu_Name + '</td><td><input type="checkbox" name="foo" value="' + item.MenuCap_ID + '" /></td></tr>';
                    });
                    $('#test1').append(trHTML);
                    check_checkbox(UserId, MainMenu);
                },
                error: function (e) {
                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }

            });
        });
        function checkSubmit() {
            debugger;
            var listName = "TableData";
            var table = $("#test1 tbody");
            var qtd = 0;
            table.find('tr').each(function (i) {
                var $tds = $(this).find('td');

                var $boxes1 = $tds.eq(4).find('input[name=foo]').prop('checked');

                if ($boxes1 == true) {
                    //$("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablespaceCC_NOField' value='" + document.getElementById('CcNo').value + "'>");
                    $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].MenuId' value='" + $tds.eq(2).text() + "'>");
                    $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].ParentMenu_id' value='" + $tds.eq(0).text() + "'>");
                    qtd += 1;
                } else {
                    i++;
                }
            });
            return true;
        }
        function EditUser(ID) {
            $.ajax({
                type: 'GET',
                url: "/Master/EditUser?ID=" + ID,
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (response) {
                    $("#Info").html(response);
                },
                error: function (e) {
                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }
            });
        }
        function showDiv(elem) {
            if (elem.value == 'ServiceProvider') {

                document.getElementById('hiddenDiv1').style.display = "block";
                document.getElementById('hiddenDiv').style.display = "block";
            }
            else if (elem.value == 'UPI') {
                document.getElementById('hiddenDiv').style.display = "block";
                document.getElementById('hiddenDiv1').style.display = "none";
            }
            else {
                document.getElementById('hiddenDiv').style.display = "none";
                document.getElementById('hiddenDiv1').style.display = "none";
            }

        }
        function showDiv1(e) {

            if (e.value == 'TRC')
                document.getElementById('TRCHidden').style.display = "block";

            if (e.value == 'HO')
                document.getElementById('TRCHidden').style.display = "none";

        }
    </script>
}