
@model TogoFogo.Models.Gateway.NotificationGatewayModel

@*<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Sender ID</label>
        @Html.TextBoxFor(model => model, new { @class = "form-control input-md", @placeholder = "Gateway Name" })
        @Html.ValidationMessageFor(model => model.GatewayName, "", new { @class = "text-danger" })
    </div>

</div>



<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Google Api key</label>
        <input id="form-control-1" class="form-control" type="text">
    </div>

</div>


<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Api Url (Google)</label>
        <input id="form-control-1" class="form-control" type="text">
    </div>

</div>


<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Project ID (in Google)</label>
        <input id="form-control-1" class="form-control" type="text">
    </div>

</div>

<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Project Name (in Google)</label>
        <input id="form-control-1" class="form-control" type="text">
    </div>

</div>

<div class="row form-group">
    <div class="col-md-12"><label class=" control-label" for="form-control-9">Is Active</label></div>
    <div class="col-md-12">
        <label class="custom-control custom-control-primary custom-checkbox active">
            <input class="custom-control-input" type="checkbox" name="mode">
            <span class="custom-control-indicator"></span>

        </label>

    </div>

</div>


<div class="row">
    <div class="col-md-12 ">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>*@
