@model TogoFogo.Models.Gateway.NotificationGateWayMainModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="panel-heading">
    <h3 class="m-y-0">Notification Gateway</h3>
</div>
<div class="panel-body">

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-refresh"></i>
                        </a>
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </div>
                    <h3 class="panel-title">Notification Gateway List</h3>
                    <div class="panel-subtitle"></div>


                    <div class="panel-body" id="Info" style="border:0px solid red">
                        <div class="table-responsive">

                            @Html.Partial("_NotificationGatewayTabel", Model.mainModel)
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-refresh"></i>
                        </a>
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </div>
                    <h3 class="panel-title">Notification  Gateway Create / Update</h3>
                    <div class="panel-subtitle"></div>

                </div>
                <div class="panel-body" style="border:0px solid red">
                    <div class="row ">
                        <div class="col-md-12 ">
                            @using (Html.BeginForm("create", "NotificationGateway", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form - horizontal" }))
                            {

                                @Html.Partial("_CreateEditNotificationGatewayForm", Model.Gateway)


                            }

                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function GetGatwayDetails(Id) {
            debugger;
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit","notificationGateway")',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data: { Id: Id },
                success: function (response) {
                    $("#GatewayId").val(response.GatewayId);
                    $("#GatewayName").val(response.GatewayName);
                    $("#GatewayTypeId").val(response.GatewayTypeId);
                    $("#IsActive").prop("checked", response.IsActive);
                    $("#SenderID").val(response.SenderID);
                    $("#GoogleApikey").val(response.GoogleApikey);
                    $("#GoogleApiUrl").val(response.GoogleApiURL);
                    $("#GoogleProjectID").val(response.GoogleProjectID);
                    $("#GoogleProjectName").val(response.GoogleProjectName);
                    console.log(response);
                },
                error: function (e) {
                    console.log(e);
                    alert("Something went wrong...");

                },
                complete: function () {

                }
            });
        }
    </script>
}



