
@{
	ViewBag.Title = "Index";
}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Pending For Quality Check<small></small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>

				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
                <div id="hiddenPart" style="display:none">
                    @*@Html.Partial("FindPFQC")*@
                    @Html.Action("PFQCForm", "Trc_PFQC")
                </div>
				
				<div class="x_content" style="overflow-x: scroll;">
					@Html.Action("TablePFQC", "Trc_PFQC")
				</div>
			</div>
		</div>
	</div>
</div>
@if (ViewBag.Message != null)
{
	<div id="snackbar">@ViewBag.Message</div>
}
@if (ViewBag.Message != null)
{
	<script>

		var x = document.getElementById("snackbar");
		x.className = "show";
		setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

	</script>
}
@section Scripts{

	<script>
        $('#myTable input:button').click(function () {
            //alert($(this).val());
            var ccNo = $(this).val()
            CCno(ccNo);
            $('#hiddenPart').show();
        });
		function AjaxWithValue(method, ddl, e) {
			var val = e.value;

			$.ajax({
				type: "GET",
				url: "/DropdownBind/" + method + "?value=" + val,
				data: '{}',
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (data) {
					$("#" + ddl).empty();

					//var sel = new Option('-Select-', '');
					//$('#' + ddl).append(sel);
					for (var i = 0; i < data.length; i++) {
						var opt = new Option(data[i].Text, data[i].Value);
						$('#' + ddl).append(opt);
					}
				}
			});
		}
		function getSpareData() {
			
			if ($("#CcNo").val() == "") {
				debugger;
				var x = document.getElementById("snackbar");
				x.className = "show";
				setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
			}
			else {
				var spareType = $("#SpareType").val();
				var spareName = $("#SpareName").val();
				var Quantity = $("#Quantity").val();

				$.ajax({
					type: 'GET',
					url: "/RepairStatus/SpareName?spareType=" + spareType + "&spareName=" + spareName,
					contentType: 'application/json; charset=utf-8',
					cache: false,
					success: function (response) {
						var Quan = 1;
                        var trHTML = '';
                        var total = response.EstimatedPrice * Quantity;
						trHTML +=

							//'<tr style="padding-top:5px"><td>' + document.getElementById('CcNo').value + '</td><td></td><td>' + response.SpareTypeName + '</td><td id="PartName">' + response.PartName + '</td><td id="Price">' + response.MarketPrice +
							//	'</td id="Quantity"><td>' + document.getElementById('Quantity').value + '</td><td>' + "<input class=btnDelete type=button value=Remove style=background-color:red;color:white>" + '</td></tr>';
                            trHTML += '<tr id=newlyAddedValues style="padding-top:5px"><td>' + document.getElementById('CC_NO').value + '</td><td>' + document.getElementById('JobNumber').value + '</td><td>' + response.SpareTypeName + '</td><td>' + response.SpareCode + '</td><td><img src="' + response.Part_Image + '" id="foo" alt="" width=100 height=100></td><td id="PartName">' + response.PartName + '</td><td>' + response.EstimatedPrice + '</td><td>' + document.getElementById('Quantity').value + '</td><td>' + total + '</td><td>' + "<input class=btnDelete type=button value=Remove style=background-color:red;color:white>" + '</td></tr>';
						$('#test1').append(trHTML);

					},
					error: function (e) {
						console.log(e);
						$(".submitbutton").attr("disabled", false);
						alert("Something went wrong...");

					},
					complete: function () {

						$(".submitbutton").attr("disabled", false);
					}

				});
			}


		}
		$("#test1").on('click', '.btnDelete', function () {
			$(this).closest('tr').remove();
		});
        function CCno(ccNo) {
            debugger;
            $(window).scrollTop(0);
			$.ajax({

				type: 'POST',
                url: "/Trc_PFQC/FindPFQC?CcNO=" + ccNo,
				contentType: 'application/json; charset=utf-8',
				cache: false,
				success: function (response) {
                    var rowCount = test1.rows.length;
                    for (var i = rowCount - 1; i > 0; i--) {
                        test1.deleteRow(i);
                    }
                    var rowCount = test.rows.length;
                    for (var i = rowCount - 1; i > 0; i--) {
                        test.deleteRow(i);
                    }
		
					var trHTML1 = '';

					var r = 0;
					$.each(response.QC_Data, function (i, item) {
						trHTML1 +=
							'<tr style="padding-top:5px"><td style=display:none id=QCID>' + item.QCId + '</td><td>' + item.QCProblem + '</td><td>' + "<input class=\"pass1\ clickable\"   type=radio id=Pass name=radio.Pass[" + r + "]>" + '</td><td>' + "<input type=radio class=\"fail1\" id=Fail name=radio.Pass[" + r + "]>" + '</td></tr>';

						r++;
					});

					$('#test').append(trHTML1);
					$('#IsApprovalRequiredforAdditionalCost').val(response.IsApprovalRequiredforAdditionalCost);
					$('#Repair_EngineerRemarks').val(response.EngineerRemarks);
					$('#FinalRepairStatus').val(response.FinalRepairStatus);
					$('#IsDeviceFunctioningNormally').val(response.IsDeviceFunctioningNormally);
					$('#IsDeviceislookingEqualToNew').val(response.IsDeviceislookingEqualToNew);
					$('#QCPersonName').val(response.QCPersonName);
					$('#PendingJOBsoftheQCPerson').val(response.PendingJOBsoftheQCPerson);
					var DamagedBoxImage = 'http://crm.togofogo.com/Uploaded Images/' + response.DamagedBoxImage;
					var url = 'http://crm.togofogo.com/Uploaded Images/' + response.PhotoOfDevice;
					$('#TRCInfoFull').val("Trc Name:" + response.TrcName + ",Mobile No:" + response.TrcMobile + " , Email:" + response.TrcEmail, " , Address:" + response.TrcAddress +
						", Pincode:" + response.TrcPinCode + " ,Location:" + response.TrcLocality + ", Near By Location :" + response.TrcNear_By_Location);
					$('#CustoFullInfo').val("Name:" + response.Customer_Name + ", Mobile No.:" + response.Mobile_No + ", E-Mail: " + response.Email_Id + ", Customer Address:" + response.Cust_Add +
						", Pincode" + response.Pincode + " City/Location:" + response.Cust_City + " , State:" + response.Cust_State);
					$('#ProcessName').val(response.TrcProcess_Name);
					$('#TRCCity').val(response.TRCCity);
					$('#TrcName').val(response.TrcName)
					$('#WarrentyStatus').val(response.WarrantyStatus);
					//$('#WarrentyExpiryDate').val(response.WarrantyExpiryDate.split(' ')[0]);
					$('#EstimatedCost').val(response.EstimatedCost);
					$('#WarrantyVoid').val(response.WarrantyVoid);
					$('#wipedevice').val(response.WipeDeviceData);
					$('#CostApproved').val(response.EstimatedCostApproved);
					$('#CourierName').val(response.CourierName);
					$('#ProblemObserved').val(response.PrblmObsrvd);
					$('#ProblemReported').val(response.Problem)
					$('#CC_NO').val(response.CcNo);
					$('#Mobile_No').val(response.Mobile_No);
					$('#Brand').val(response.Brand);
					$('#ServiceProviderName').val(response.ServiceProviderName);
					$('#Cust_Add').val(response.Cust_Add);
					$('#Cust_City').val(response.Cust_City);
					$('#Cust_State').val(response.Cust_State);
					$('#CustomerId').val(response.CustomerId);

					$('#Customer_Name').val(response.Customer_Name);
					$('#Email_Id').val(response.Email_Id);
					$('#Model').val(response.Model);
					$('#Pickup_Date').val(response.Pickup_Date);
					$('#Pincode').val(response.Pincode);
					$('#Problem').val(response.Problem);
					$('#StatusName').val(response.StatusName);
					$('#SubCatName').val(response.SubCatName);
					$('#Serial_No').val(response.Serial_No);
					$('#IMEI1').val(response.IMEI1);
					$('#IMEI2').val(response.IMEI2);
					$('#BtryRemovable').val(response.BtryRemovable);
					$('#BtryReq').val(response.BtryReq);
					$('#IsDiffDeviceRecvd').val(response.IsDiffDeviceRecvd);
					$('#IsDiffDeviceRecvd').val(response.IsDiffDeviceRecvd);
					$('#RecvdBrand').val(response.RecvdBrand);
					$('#RecvdModel').val(response.RecvdModel);
					$('#IsPhyDamage').val(response.IsPhyDamage);
					$('#ReceiveDate').val(response.ReceiveDate);
					$('#RecvRemarks').val(response.RecvRemarks);
					$('#EnggName').val(response.EnggName);
					$('#BtryReceived').val(response.BtryReceived);
					$('#BtryBrandAndModel').val(response.BtryBrandAndModel);
					$('#DeviceTUPC').val(response.DeviceTUPC);
					$('#RecvdSerialNo').val(response.RecvdSerialNo);
					$('#RecvdIMEI1').val(response.RecvdIMEI1);
					$('#RecvdIMEI2').val(response.RecvdIMEI2);
					$('#ReceiveApprovalNeeded').val(response.ReceiveApprovalNeeded);
					$('#RecvApprovalStatus').val(response.RecvApprovalStatus);
					$('#RecvApprovedBy').val(response.RecvApprovedBy);
					$('#PhotoOfDevice').attr('src', url);
					$('#DamagedBoxImage').attr('src', DamagedBoxImage);
					$('#ReceivedDevice').val(response.RecvdDevice);

					$('#ApproverRemarks').val(response.ApproverRemarks);
					$('#IsApproveforReceivingDevice').val(response.IsApproveforReceivingDevice);
					$('#JobNumber').val(response.JobNumber);
					$('#CallStatus').val(response.CallStatus);
					$('#Pfels_Engg_Name').val(response.PfelsEngineerName);
					$('#WarrantyStickerTempered').val(response.WarrantyStickerTempered);
					$('#OS_SoftwareReinstall').val(response.OS_SoftwareReinstall);
					$('#CurrentStatus').val(response.CurrentStatus);
					$('#DeviceWaterDamaged').val(response.DeviceWaterDamaged);
					$('#WarrantyVoid').val(response.WarrantyVoid);
					$('#PfelsProblemFound').val(response.PfelsProblemFound);
					$('#OS_Software_Reinstall').val(response.OS_Software_Reinstall);
					$('#Customer_Data_Backup').val(response.Customer_Data_Backup);
					$('#Current_OS_Software_Name').val(response.Current_OS_Software_Name);
					$('#Installed_OS').val(response.Installed_OS);
					$('#DeviceWarrantyVoid').val(response.DeviceWarrantyVoid);
					$('#JOBDate').val(response.JOBDate);
					$('#EngineerRemarks').val(response.EngineerRemarks);
					$('#DeviceServiceCharge').val(response.DeviceServiceCharge);

					$('#ApprovedSpareCost').val(response.ApprovedSpareCost);
					$('#BoxCondition').val(response.BoxCondition);
					$('#ReceivingDoc').val(response.ReceivingDocument);
					$('#Returnable').val(response.IsReturnable);
					$('#NoOfBoxesReceived').val(response.NoOfBoxesReceived);
					$('#Prcc_EMail_SMS').val(response.Prcc_EMail_SMS);
					$('#Prcc_AdvancePaymentAmount').val(response.Prcc_AdvancePaymentAmount);
					$('#Prcc_SendCompanyBankAccountDetails').val(response.Prcc_SendCompanyBankAccountDetails);
					$('#Prcc_IsCustomerwantstopayAdvance').val(response.Prcc_IsCustomerwantstopayAdvance);
					$('#Prcc_CustomerSupportRemarks').val(response.Prcc_CustomerSupportRemarks);
					$('#Prcc_Is_Repair_Cost_Approved').val(response.IsRepairCostApproved);
					$('#CallBackDatetime').val(response.CallBackDatetime);
                    $('#ScheduleDate').val(response.SchedulePickupDateandTime);
                    $('#TUPCModel').val(response.TUPCModel);
                    $('#AWBNo').val(response.AWBNumber);
                    $('#JobNumber').val(response.JobNumber);
                    $('#CallRequestDate').val(response.EntryDate);
                    var Quan = 1;
                    var trHTML = '';
                    $.each(response.New_Auto_Table, function (i, item) {
                        debugger;
                        trHTML +=
                            '<tr  id=databaseValues style="padding-top:5px"><td>' + item.CC_NO + '</td><td>' + document.getElementById('JobNumber').value + '</td><td>' + item.SpareType + '</td><td>' + item.SpareCode + '</td><td><img src="" id="foo" alt="" width=100 height=100></td><td id="PartName">' + item.SpareName + '</td><td>' + item.Price + '</td><td>' + item.SpareQuantity + '</td><td>' + item.Total + '</td><td>' + "<input class=btnDelete type=button value=Remove style=background-color:red;color:white>" + '</td></tr>';
                    });
                    $('#test1').append(trHTML);
				},
				error: function (e) {
					console.log(e);
					$(".submitbutton").attr("disabled", false);
					alert("Something went wrong...");

				},
				complete: function () {

					$(".submitbutton").attr("disabled", false);
				}
			});
		}
        $('#FinalQCStatus').on('change', function () {
            debugger;
			if (this.value == 'Pass') {
                $("#QCRemarks").show();
                
               
			}
			else {
                $("#QCRemarks").hide();
               
			}

		});

        function SelectAllCheckboxes1(s) {
            debugger;
			if (s === "pass") {
				$('.fail1').removeAttr("checked");
				$(".pass1").prop("checked", true);

                $(".box").css('display', 'none');
                //$("#QCFailReason").hide();
			}
			else {
				$('.pass1').removeAttr("checked");
				$(".fail1").prop("checked", true);

                $(".box").removeAttr("style");
                //$("#QCFailReason").show();
			}
		}



		
		function checkSubmit() {
			debugger;
			var listName = "Table_Pass_Fail";
			var table = $("#test tbody");
			var qtd = 0;
			table.find('tr').each(function (i) {

				var $tds = $(this).find('td');
				var z = $(this).find('td:eq(2) input[type=radio]:checked').val();
				if (z === "on") {
					z = "Pass";

				}
				else {
					z = "";
				}
				var s = $(this).find('td:eq(3) input[type=radio]:checked').val();
				if (s === "on") {
					s = "Fail";
				}
				else {
					s = "";
				}
				var QCID = $(this).find('td:eq(0)').text();
				$("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablePassFailCC_No' value='" + document.getElementById('CC_NO').value + "'>");
				$("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablePassFail_ProblemId' value='" + QCID + "'>");
				$("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablePassFail_Pass' value='" + z + "'>");
				$("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablePassFail_Fail' value='" + s + "'>");

				qtd += 1;
			});
			return true;
		}

	</script>
}

