@model TogoFogo.Models.SMTPGatewayModel


<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Setting Name</label>
        <div class="form-group">
            <input id="form-control-1" class="form-control" type="text" placeholder="Mailer Template Name">
        </div>
    </div>


    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Form Name</label>
        <div class="form-group">
            <input id="form-control-1" class="form-control" type="text" placeholder="Mailer Template Name">
        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">From Email</label>
        <div class="form-group">
            <input id="form-control-1" class="form-control" type="text" placeholder="Mailer Template Name">
        </div>
    </div>

    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Smtp Server Name</label>

        <div class="form-group">
            <input id="form-control-1" class="form-control" type="text" placeholder="Mailer Template Name">
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Smtp User Name</label>
        <div class="form-group">
            <input id="form-control-1" class="form-control" type="text" placeholder="Mailer Template Name">
        </div>
    </div>


    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Smtp Password</label>
        <div class="form-group">
            <input id="form-control-1" class="form-control" type="text" placeholder="Mailer Template Name">
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Port Number</label>
        <div class="form-group">
            <input id="form-control-1" class="form-control" type="text" placeholder="Mailer Template Name">
        </div>
    </div>


    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">SSL Enabled</label>
        <div class="form-group">
            <label class="custom-control custom-control-primary custom-checkbox active">
                <input class="custom-control-input" type="checkbox" name="mode">
                <span class="custom-control-indicator"></span>
            </label>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Is Active</label>
        <div class="form-group">
            <label class="custom-control custom-control-primary custom-checkbox active">
                <input class="custom-control-input" type="checkbox" name="mode">
                <span class="custom-control-indicator"></span>
            </label>
        </div>
    </div>


    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">IsDefault</label>
        <div class="form-group">
            <label class="custom-control custom-control-primary custom-checkbox active">
                <input class="custom-control-input" type="checkbox" name="mode">
                <span class="custom-control-indicator"></span>
            </label>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">IsProcessByAwsSes</label>
        <div class="form-group">
            <label class="custom-control custom-control-primary custom-checkbox active">
                <input class="custom-control-input" type="checkbox" name="mode">
                <span class="custom-control-indicator"></span>
            </label>
        </div>
    </div>


    <div class="col-md-6 form-group">

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-primary">Cancel</button>
            </label>
        </div>
    </div>

</div>