@model TogoFogo.Models.ClientModel
@{
    /**/

    ViewBag.Title = "Create Client";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!--/.row-->
<div class="panel-heading">
    <h3 class="m-y-0">Add Client</h3>
</div>

<div class="panel-body">
    <!--/.col-->

    @Html.Partial("_CreateEditClientForm", Model)
</div>






@section scripts{


    @Scripts.Render("~/bundles/jqueryval")
    <script>

            var DivName = $('.nav-tabs .active a').attr('href');
            activaTab(DivName);


        function activaTab(tab) {

            $(tab).addClass("active in");
        };
        function AjaxWithValue(method, ddl, e) {
            var val = e.value;
            if (ddl == "ConAddress_StateId")
                $("#ConAddress_CityId").empty();
            $.ajax({
                type: "GET",
                url: "/DropdownBind/" + method + "?value=" + val,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#" + ddl).empty();

                    //var sel = new Option('-Select-', '');
                    //$('#' + ddl).append(sel);
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Text, data[i].Value);
                        $('#' + ddl).append(opt);
                    }
                }
            });
        }


            $(".reset").click(function () {
                $(this).closest('form').find("input[type=text], textarea,select").val("");
                $("#ConCity").empty();
                $("#ConState").empty();
                $(this).closest('form').find("input[type=checkbox]").prop('checked', false);
                $('.selectpicker').selectpicker('refresh');
            });

            $('a[data-toggle="tab"]').click(function (e) {
            if ($(this).hasClass("disabled")) {
                e.preventDefault();
                e.stopPropagation();
                e.stopImmediatePropagation();
                return false;

            }
        });

        function AddOrEditContact(contact) {

            var clientId = $("#ClientId").val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("AddorUpdateContact","manageClients")',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data: { model: JSON.stringify(contact) },
                success: function (response) {
                    $("#ContactInfo").html(response);
                    $("#RefKey").val(clientId);

                },
                error: function (e) {
                    console.log(e);

                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }
            });
        };
        $("#IsUser").change(function (e) {
            if ($(this).prop("checked")) {
                $("#userDetails").show();
            }
            else {
                $("#userDetails").hide();
            }

        })

        function AddOrEditBank(bank) {
            var clientId = $("#ClientId").val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("AddorEditBankDetails","manageClients")',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data: bank,
                success: function (response) {
                    $("#BankInfo").html(response);
                    $("#RefKey").val(clientId);
                    if (bank.bankId != null)
                        $("#Action").val('U');
                    else
                        $("#Action").val('I');
                },
                error: function (e) {
                    console.log(e);

                    alert("Something went wrong...");

                },
                complete: function () {


                }
            });
        };


    </script>
  


}

