@model TogoFogo.Models.ClientModel
@{
    ViewBag.Title = "Edit Client";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



@using (Html.BeginForm("Edit", "ManageClients", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.ClientId)

    <div class="panel-heading">
      
                <h3 class="m-y-0">Edit Client</h3>
                
    </div>
    <div class="panel-body">
        
        @Html.Partial("_CreateEditClientForm", Model)
        </div>
        }

        @section scripts{

            <script>

                function AjaxWithValue(method, ddl, e) {
                    var val = e.value;
                    if (ddl == "ConState")
                        $("#ConCity").empty();
                    $.ajax({
                        type: "GET",
                        url: "/DropdownBind/" + method + "?value=" + val,
                        data: '{}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            $("#" + ddl).empty();

                            //var sel = new Option('-Select-', '');
                            //$('#' + ddl).append(sel);
                            for (var i = 0; i < data.length; i++) {
                                var opt = new Option(data[i].Text, data[i].Value);
                                $('#' + ddl).append(opt);
                            }
                        }
                    });
                }
                $(".reset").click(function () {
                    $(this).closest('form').find("input[type=text], textarea,select").val("");
                    $("#ConCity").empty();
                    $("#ConState").empty();
                    $(this).closest('form').find("input[type=checkbox]").prop('checked', false);
                    $('.selectpicker').selectpicker('refresh');

                });

                $("#IsUser").change(function (e) {
                    if ($(this).prop("checked"))
                        $("#userDetails").show();
                    else
                        $("#userDetails").hide();
                })
            </script>
        }
