
@{
    ViewBag.Title = "POOWRR";
}

@*<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3 class="m-y-0">Pending Out Of Warranty Repair Request:</h3>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>*@


<div class="panel-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <h3 class="m-y-0">Pending Out Of Warranty Repair Request:</h3>
            </div>  
            <div class="col-md-6 ">
                <div class="pull-right">
                    <button class="btn btn-primary excel">Export to Excel</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel-body">
    <div class="x_content">
        <div id="hiddenPart" style="display:none">

            @Html.Action("POOWRRForm", "CustomerSupport")
        </div>

        <div class="x_content" style="overflow-x: scroll;">
            @Html.Action("TablePOOWRR", "CustomerSupport")
        </div>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <div id="snackbar">@ViewBag.Message</div>
}
@if (ViewBag.Message != null)
{
    <script>

        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

    </script>
}

@section Scripts{

    <script>
        $('#OOWRRTable input:button').click(function () {
            //alert($(this).val());
            debugger;
            var ccNo = $(this).val()
            CCno(ccNo);
            $('#hiddenPart').show();
        });
    </script>
    <script>
        function AjaxWithValueForSparePartName(method, ddl, e) {

            var val = e.value;
            var ModelValue = $('#Model').val();
            debugger
            $.ajax({
                type: "GET",
                url: "/DropdownBind/" + method + "?value=" + val + '&ModelValue=' + ModelValue,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#" + ddl).empty();

                    //var sel = new Option('-Select-', '');
                    //$('#' + ddl).append(sel);
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Text, data[i].Value);
                        $('#' + ddl).append(opt);
                    }
                }
            });
        }
        function AjaxWithValue(method, ddl, e) {
            var val = e.value;

            $.ajax({
                type: "GET",
                url: "/DropdownBind/" + method + "?value=" + val,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#" + ddl).empty();

                    //var sel = new Option('-Select-', '');
                    //$('#' + ddl).append(sel);
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Text, data[i].Value);
                        $('#' + ddl).append(opt);
                    }
                }
            });
        }
        $("#test1").on('click', '.btnDelete', function () {
            $(this).closest('tr').remove();
        });
        function checkSubmit() {
            var listName = "TableData";
            var table = $("#test2 tbody");
            var qtd = 0;
            table.find('tr').each(function (i) {
                var $tds = $(this).find('td');
                //console.log($tds);


                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablespaceCC_NOField' value='" + document.getElementById('CcNo').value + "'>");
                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablespareTypeField' value='" + $tds.eq(2).text() + "'>");
                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablespareCodeField' value='" + $tds.eq(3).text() + "'>");

                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablespareNameField' value='" + $tds.eq(4).text() + "'>");
                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablespareQuantityField' value='" + $tds.eq(5).text() + "'>");
                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablesparePriceField' value='" + $tds.eq(6).text() + "'>");
                $("#form11").prepend("<input type='hidden'name='" + listName + "[" + qtd + "].TablespareTotalField' value='" + $tds.eq(7).text() + "'>");
                qtd += 1;
            });
            return true;
        }
        function CCno(ccNo) {
            $(window).scrollTop(0);
            $.ajax({
                type: 'POST',
                url: "/CustomerSupport/FindPOOWRR?CcNO=" + ccNo,
                contentType: 'application/json; charset=utf-8',
                async: false,
                dataType: 'json',
                cache: false,
                success: function (response) {
                    debugger;
                    var d = response.ChildtableDataProblem;
                    var e = response.NewGetTableData;
                    $("#test1 tbody tr").remove();
                    document.getElementById('CcNo').value = response.CcNo;
                    $('#ProcessName').val(response.Process_Name);
                    $('#Mobile_No').val(response.Mobile_No);
                    $('#Brand').val(response.Brand);
                    $('#Cust_Add').val(response.Cust_Add);
                    $('#Cust_City').val(response.Cust_City);
                    $('#Cust_State').val(response.Cust_State);
                    $('#CustomerId').val(response.CustomerId);
                    $('#Customer_Name').val(response.Customer_Name);
                    $('#Email_Id').val(response.Email_Id);
                    $('#Model').val(response.Model);
                    $('#EntryDate').val(response.EntryDate);
                    $('#Pincode').val(response.Pincode);
                    //$('#Problem').val(response.Problem);
                    $('#StatusName').val(response.StatusName);
                    $('#DeviceType').val(response.DeviceType);
                    $('#SpareType').val(response.SpareType);
                    $('#ModelColor').val(response.ModelColor);
                    $('#CurrentStatus').val(response.CurrentStatus);
                    $('#WarrantyStatus').val("Out Of Warranty");
                    $('#WarrantyExpiryDate').val("NA");
                    $('#WS').val(response.WS);
                    $('#customerPickupdate').val(response.customerPickupdate);
                    $('#CallStatus').val(response.CallStatus)
                    $('#TUPCModel').val(response.TUPCModel);
                    $('#Remarks').val(response.Remarks);
                    $("#EMail_SMS").val(response.EMail_SMS);

                    if (response.WS == "Your 90 days Warranty Free") {
                        $('#DeviceWarranty').val(0)
                    }
                    else {
                        var war = response.WS
                        var SplitWar = war.split("?");
                        $('#DeviceWarranty').val(SplitWar)
                    }

                    if (response.IMEI1 == 'Yes') {
                        $('#IMEI1').show();
                    }
                    if (response.Serial_No == 'Yes') {
                        $('#Serial_No').show();
                    }
                    if (response.CallStatus == 1) {
                        $("#commanAll").show();
                        $("#EmailSmsPart").show();
                        $("#commanPart").hide();
                        $("#CallRequestRejectReason").hide();
                        $("#CallBack").hide();
                        $('#EngineerVisit').hide();
                    }
                    if (response.CallStatus == 5) {
                        $('#CallBack').show();
                        $("#EmailSmsPart").show();
                        $("#commanAll").show();
                        $('#commanPart').hide();
                        $('#EngineerVisit').hide();
                        $('#SchedulePick').hide();
                        $('#CallRequestRejectReason').hide();
                    }

                    var trHTML1 = '';

                    var r = 0;
                    $.each(response.ChildtableDataProblem, function (i, item) {
                        trHTML1 +=
                            '<tr style="padding-top:5px"><td hidden>' + item.ProblemId + '</td><td>' + item.ProblemName + '</td><td>' + item.Estimated_Price + '</td><td>' + "<input class=btnDelete type=button value=Remove style=background-color:red;color:white>" + '</td></tr>';

                        r++;
                    });

                    $('#test1').append(trHTML1);

                    debugger;
                    var totalCost = 0;

                    var table = document.getElementById('test1');
                    var rows = $('#test1 tbody tr').length;
                    for (var i = 1; i <= rows; i += 1) {
                        var row = table.rows[i];
                        console.log(row);
                        var se = row.cells[2].innerHTML;
                        se = Math.abs(se);
                        totalCost = totalCost + se;
                    }
                    debugger;
                    //var trHTML2 = '';
                    //var total = 0;
                    //var t = 0;
                    //$.each(response.NewGetTableData, function (i, item) {
                    //    trHTML2 +=

                    //        '<tr style="padding-top:5px"><td>' + document.getElementById('CcNo').value + '</td><td></td><td>' + item.SpareTypeName + '</td><td>' + item.SpareCode + '</td><td>' + item.PartName + '</td><td>' + "1" + '</td><td>' + item.EstimatedPrice + '</td><td>' + item.EstimatedPrice + '</td><td>' + "<input class=btnDelete type=button value=Remove style=background-color:red;color:white>" + '</td></tr>';
                    //    total = total + item.EstimatedPrice;
                    //    t++;
                    //});

                    //$('#test2').append(trHTML2);
                    $('#ServiceCharge').val('300');
                    $('#SpareCost').val(totalCost);
                    var estimate = totalCost + 300
                    $('#EstimatedCost').val(estimate);
                },
                error: function (e) {
                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }
            });
        }
        function BindCityAndSate() {
            debugger
            var value = document.getElementById("Pincode").value;
            if (value.length == 6) {
                AjaxWithValueDEE('BindSatetByPincode', 'Cust_State', value)

                AjaxWithValueDEE('BindCityByPincode', 'Cust_City', value)
            }

        }
        function AjaxWithValueDEE(method, ddl, val) {

            $.ajax({
                type: "GET",
                url: "/DropdownBind/" + method + "?value=" + val,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    $('#' + ddl).val(data[0].Text);

                }
            });
        }
        $("#test1").on('click', '.btnDelete', function () {
            debugger;
            var orderId = $('#CcNo').val();
            var currentRow = $(this).closest("tr");
            var cells = $(this).closest("tr").children("td");
            var cell1 = cells.eq(0).text();
            var cell2 = cells.eq(2).text();

            $.ajax({

                type: 'GET',
                url: "/CustomerSupport/RemoveProblemButton?ProblemId=" + cell1 + '&EstimatedPrice=' + cell2 + '&OrderId=' + orderId,
                contentType: 'application/json; charset=utf-8',
                data: "{}",
                dataType: 'json',
                cache: false,
                success: function (response) {
                    currentRow.remove();
                    var subtractedPrice = Math.abs(cell2)
                    var se = $('#SpareCost').val();
                    var MainPrice = Math.abs(se);
                    $('#SpareCost').val(MainPrice - subtractedPrice);
                    var oldEP = $('#EstimatedCost').val()
                    $('#EstimatedCost').val(oldEP - subtractedPrice);
                }
            });

        });
        function AddProblem() {
            debugger;
            var DropValue = $('#Problem').val();

            var Model = $('#Model').val();
            var dropdownText = $("#Problem option:selected").text();
            var OrderId = $('#CcNo').val();
            var BrandName = $('#Brand').val();
            $.ajax({

                type: 'GET',
                url: "/CustomerSupport/GetProblemRow?DropDownValue=" + DropValue + '&ModelName=' + Model + '&OrderId=' + OrderId + '&BrandName=' + BrandName,
                contentType: 'application/json; charset=utf-8',
                data: "{}",
                dataType: 'json',
                cache: false,
                success: function (response) {
                    var Quan = 1;
                    var trHTML = '';

                    trHTML +=

                        //'<tr style="padding-top:5px"><td>' + document.getElementById('CcNo').value + '</td><td></td><td>' + response.SpareTypeName + '</td><td id="PartName">' + response.PartName + '</td><td id="Price">' + response.MarketPrice +
                        //	'</td id="Quantity"><td>' + document.getElementById('Quantity').value + '</td><td>' + "<input class=btnDelete type=button value=Remove style=background-color:red;color:white>" + '</td></tr>';
                        '<tr style="padding-top:5px"><td hidden>' + response.ProblemId + '</td><td>' + dropdownText + '</td><td>' + response.Estimated_Price + '</td><td>' + "<input class=btnDelete type=button value=Remove style=background-color:red;color:white>" + '</td></tr>';
                    $('#test1').append(trHTML);
                    var totalCost = 0;

                    var table = document.getElementById('test1');
                    var rows = $('#test1 tbody tr').length;
                    for (var i = 1; i <= rows; i += 1) {
                        var row = table.rows[i];
                        console.log(row);
                        var se = row.cells[2].innerHTML;
                        se = Math.abs(se);
                        totalCost = totalCost + se;
                    }
                    debugger;

                    $('#ServiceCharge').val('300');
                    $('#SpareCost').val(totalCost);
                    var estimate = totalCost + 300
                    $('#EstimatedCost').val(estimate);
                }
            });
        }
        function getSpareData() {
            debugger;
            if ($("#CcNo").val() == "") {
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
            }
            else {
                var spareType = $("#SpareType").val();
                var spareName = $("#SpareName").val();
                var Quantity = $("#Quantity").val();

                $.ajax({
                    type: 'GET',
                    url: "/RepairStatus/SpareName?spareType=" + spareType + "&spareName=" + spareName,
                    contentType: 'application/json; charset=utf-8',
                    data: "{}",
                    dataType: 'json',
                    cache: false,
                    success: function (response) {
                        var Quan = 1;
                        var trHTML = '';
                        var total = response.EstimatedPrice * Quantity;
                        trHTML +=

                            //'<tr style="padding-top:5px"><td>' + document.getElementById('CcNo').value + '</td><td></td><td>' + response.SpareTypeName + '</td><td id="PartName">' + response.PartName + '</td><td id="Price">' + response.MarketPrice +
                            //	'</td id="Quantity"><td>' + document.getElementById('Quantity').value + '</td><td>' + "<input class=btnDelete type=button value=Remove style=background-color:red;color:white>" + '</td></tr>';
                            '<tr style="padding-top:5px"><td>' + document.getElementById('CcNo').value + '</td><td></td><td>' + response.SpareTypeName + '</td><td>' + response.SpareCode + '</td><td>' + response.PartName + '</td><td>' + document.getElementById('Quantity').value + '</td><td>' + response.EstimatedPrice + '</td><td>' + total + '</td><td>' + "<input class=btnDelete type=button value=Remove style=background-color:red;color:white>" + '</td></tr>';
                        $('#test2').append(trHTML);

                    },
                    error: function (e) {
                        console.log(e);
                        $(".submitbutton").attr("disabled", false);
                        alert("Something went wrong...");

                    },
                    complete: function () {

                        $(".submitbutton").attr("disabled", false);
                    }

                });
            }


        }
        $('#CallStatus').on('change', function () {
            if (this.value == "1") {
                debugger


                $("#commanAll").show();
                $("#EmailSmsPart").show();
                $("#commanPart").hide();
                $("#CallRequestRejectReason").hide();
                $("#CallBack").hide();
                $('#EngineerVisit').hide();
            }
            else if (this.value == '2') {
                $('#CallRequestRejectReason').show();
                $("#commanAll").show();

                $("#commanPart").hide();
                $("#EmailSmsPart").hide();
                $("#CallBack").hide();
                $('#EngineerVisit').hide();
                $('#SchedulePick').hide();
            }
            else if (this.value == '3') {
                $('#SchedulePick').show();
                $('#CallRequestRejectReason').hide();


                $('#commanPart').show();
                $("#commanAll").show();
                $("#EmailSmsPart").show();
                $("#CallBack").hide();
                $('#EngineerVisit').hide();
            }
            else if (this.value == '4') {
                $('#EngineerVisit').show();
                $('#SchedulePick').hide();
                $('#CallRequestRejectReason').hide();
                $("#commanAll").show();
                $('#commanPart').show();
                $("#commanAll").show();
                $("#EmailSmsPart").show();
                $("#CallBack").hide();
            }
            else if (this.value == '5') {
                $('#CallBack').show();
                $("#EmailSmsPart").show();
                $("#commanAll").show();
                $('#commanPart').hide();
                $('#EngineerVisit').hide();
                $('#SchedulePick').hide();
                $('#CallRequestRejectReason').hide();
            }
            else {
                $('#CallBack').hide();
                $("#EmailSmsPart").hide();
                $("#commanAll").hide();
                $('#commanPart').hide();
                $('#EngineerVisit').hide();
                $('#SchedulePick').hide();
                $('#CallRequestRejectReason').hide();
            }




        });
        function getval(sel) {
            alert(sel.value);
            debugger;
            var selectedValue = parseInt(sel.value);
            $.ajax({
                type: 'GET',
                url: "/CustomerSupport/GetTrcFullAddress?TRCID=" + selectedValue,
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (response) {
                    console.log(response)

                    $('#TRCFullAddr').val(response.Address + "  " + response.LOCALITY + "  " + response.NEAR_BY_LOCATION + "  " + response.PIN_CODE)
                },
                error: function (e) {
                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }
            });
        }
        $('#SelectTrc').change(function () {
            debugger;
            var selectedValue = parseInt(jQuery(this).val());
            $.ajax({
                type: 'GET',
                url: "/CustomerSupport/GetTrcFullAddress?TRCID=" + selectedValue,
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (response) {
                    console.log(response)

                    $('#TRCFullAddr').val(response.Address + "  " + response.LOCALITY + "  " + response.NEAR_BY_LOCATION + "  " + response.PIN_CODE)
                },
                error: function (e) {
                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }
            });
        });
        $('#CourierName').change(function () {

            var selectedValue = parseInt(jQuery(this).val());
            $.ajax({
                type: 'GET',
                url: "/CustomerSupport/GetCourierInformation?CourierId=" + selectedValue,
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (response) {
                    console.log(response)
                    var url = "http://crm.togofogo.com/Uploaded Images/" + response.UploadedCourierFile
                    $('#CourierContact').val(response.MobileNumber)
                    $('#CourierActive').val(response.IsActive)
                    $("#CourierLogo").attr('src', url);
                },
                error: function (e) {
                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }
            });
        });
        function calculateBill() {
            var cost = 0;
            var totalCost = 0;
            var table = document.getElementById('test2');
            var rows = $('#test2 tbody tr').length;
            for (var i = 1; i <= rows; i += 1) {
                var row = table.rows[i];
                console.log(row);
                var se = row.cells[5].innerHTML;
                var cost = row.cells[5].innerHTML * row.cells[6].innerHTML;
                totalCost = totalCost + cost;
            }
            var service = document.getElementById('ServiceCharge').value = 300;
            var estiCost = service + totalCost;
            $('#SpareCost').val(totalCost);
            $('#EstimatedCost').val(estiCost);
        }
    </script>
}
