
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#secondTab">Add New</a></li>
    <li ><a data-toggle="tab" href="#firstTab">Search User</a></li>
    @*@if (HttpContext.Current.Session["Role"] == "ADMIN")
    {*@
    
 

</ul>
<div class="tab-content">
    
    <div id="secondTab" class="tab-pane fade in active">@Html.Action("Register")</div>
    <div id="firstTab" class="tab-pane fade in ">@Html.Action("ViewAll")</div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 
}