@model doorserve.Models.User
@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="panel-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <h3 class="m-y-0">Edit User </h3>
            </div>
        </div>
    </div>
</div>
<div class="panel-body">

    @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { id = "form", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_ManageUser", Model)
    }
</div>

