@model IEnumerable<TogoFogo.Models.Company.CompanyModel>
@using TogoFogo.Models
@using GridMvc.Html
@{
    ViewBag.Title = "Manage Company";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var i = 0;
}
@section Styles{

}
<div class="panel-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <h3 class="m-y-0">Manage Company</h3>
            </div>
            <div class="col-md-6 ">
                <div class="pull-right">
                    @*@if (Permissions.Rights.ExcelExport)
                        {*@
                    <button class="btn btn-primary excel">
                        Export Excel
                    </button>
                    @*}*@

                    @*@if (Permissions.Rights.Create)
                        {*@
                    <a class="btn btn-primary" href="@Url.Action("Create", "ManageCompany")">

                        <span>
                            Add Company

                        </span>
                    </a>
                    @*}*@
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.row-->
<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="x_content">
                <div class="code-cut">
                    @Html.Grid(Model).Columns(columns =>
                    {
                       columns.Add()
                            .Titled("#SLN")
                            .SetWidth(10)
                            .RenderValueAs(o =>
                              {
                                  i++;
                                  return @<text> @i </text>;
                     });
               columns.Add(c => c.CompanyName).Titled("Company Name").Filterable(true);
               columns.Add(c => c.CompanyCode).Titled("Company Code").Filterable(true);
               columns.Add(c => c.AndroidAppName).Titled("Android AppName").Filterable(true);
               columns.Add(c => c.IOSAppName).Titled("IOS AppName").Filterable(true);
               columns.Add(c => c.CompanyWebsiteDomainName).Titled("Domain Name").Filterable(true);
               columns.Add(c => c.DomainExpiryDate).Titled("Domain Expiry Date").Filterable(true).Format("{0:dd-MM-yyyy}");
               columns.Add(c => c.IsActive).Titled("IsActive");
               columns.Add()
                   .Encoded(false)
                   .Sanitized(false)
                   .SetWidth(30)
                   .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { @compId = o.CompanyId }));

           }).WithPaging(10).Sortable(true)
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts{

}