@model TogoFogo.Models.AllData
@{
	Layout = null;
}
<div style="align-items:center">
	<table style="width:1200px">
		<tr>
			<td align="left">
				<img src="~/Images/aforeserve.png" />

			</td>
			<td>
				AFORESERVE.COM LIMITED
				<br />B-21, Noida Sector-8, Uttar Pradesh
			</td>
		</tr>
	</table>
	<div>
		<table border="1" style="width:1200px">

			<tr>
				<td align="left" rowspan="2">

					<img src="@Url.Content(Model.ImagePath)" alt="" />
					
				</td>
				<td>
					Date And Time:
				</td>
				<td align="right">
					<label></label>
					<label id="lbldatetime"></label>
				</td>
			</tr>
			<tr>
				<td>
					Customer Type
				</td>
				<td align="right">
					Customer
				</td>

			</tr>


		</table>
		<table style="width:1200px" border="1">
			<tr>
				<td>
					Name: &nbsp; &nbsp;<label id="lblname"></label>
				</td>
				<td>
					Item Name: &nbsp; &nbsp;<label id="itemname"></label>@Model.CatName
				</td>

			</tr>
			<tr>
				<td rowspan="4">
					<label id="customeraddress">Customer address  </label> @Model.Cust_Add
				</td>
				<td>
					Model Name: @Model.Model&nbsp; &nbsp;
				</td>

			</tr>
			<tr>
				<td>
					Received Items: &nbsp; &nbsp;<label id="receiveitem"></label>
				</td>
			</tr>
			<tr>
				<td>
					Repair Warranty: &nbsp; &nbsp;<label id="repairwaranty"></label>
				</td>
			</tr>
			<tr>
				<td>
					Warranty Conflict: &nbsp; &nbsp;<label id="wartyconfian"></label>
				</td>
			</tr>
			<tr>
				<td>
					IMEI 1: &nbsp; &nbsp;@Model.IMEI1

				</td>
				<td>
					IMEI 2: &nbsp; &nbsp;@Model.IMEI2
					&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; Warranty Status :&nbsp; &nbsp;@Model.WarrantyStatus
				</td>
			</tr>

			<tr>
				<td>
					Call id: &nbsp; &nbsp;@Model.CcNo

				</td>
				<td>
					Problem Reported: &nbsp; &nbsp;@Model.Problem
				</td>

			</tr>

			<tr>
				<td>
					JC Code: &nbsp; &nbsp;<label id="jccode"></label>
				</td>
				<td>
					Article Code: &nbsp; &nbsp;<label id="articlecode"></label>
				</td>


			</tr>

			<tr>
				<td>
					Job Card No: &nbsp; &nbsp;@Model.JobNumber
				</td>
				<td>
					Repair Engineer Name: &nbsp; &nbsp;@Model.Engg_Name
				</td>

			</tr>
			<tr>
				<td>
					Serial number: &nbsp; &nbsp;@Model.Serial_No
				</td>
				<td>
					RSN: &nbsp; &nbsp;<label id="lblrsn"></label>
				</td>

			</tr>

			<tr>
				<td>
					NonValCode: &nbsp; &nbsp;<label id="NonValCode"></label>

				</td>
				<td>
					Article Desc: &nbsp; &nbsp;<label id="ArticleDesc"></label>

				</td>

			</tr>


			<tr>
				<td>
					Symptom/Defe: &nbsp; &nbsp;<label id="Symptom"></label>

				</td>
				<td rowspan="4">
					<table border="1" style="width:100%">
						<tr>
							<td rowspan="2">
								Spare/Component Request: &nbsp; &nbsp;<label id="Label17"></label>
							</td>
							<td colspan="2">
								Issuer Status
							</td>
							<td colspan="2">
								Usage Status
							</td>
						</tr>
						<tr>
							<td>
								&#10004;
							</td>
							<td>
								&#10060;
							</td>
							<td>
								&#10004;
							</td>
							<td>
								&#10060;
							</td>
						</tr>
						<tr>
							<td>
								1.
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>
								2.
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>
								3.
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>
								4.
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</td>

			</tr>

			<tr>
				<td>
					Note: &nbsp; &nbsp;<label id="note"></label>
				</td>

			</tr>
			<tr>
				<td>
					Used Part Order: &nbsp; &nbsp;<label id="UsedPartOrder"></label>
				</td>


			</tr>

			<tr>
				<td>
					Closing Date: &nbsp; &nbsp;<label id="ClosingDate"></label>
				</td>

			</tr>


			<tr>
				<td>
					Purchase Date: &nbsp; &nbsp;<label id="Purchasedate"></label>
				</td>
				<td>
					<table border="1" style="width:100%">
						<tr>
							<td>
								Spares Issuer Name:
							</td>
							<td align="right">
								Issue Date:
							</td>
						</tr>
					</table>
				</td>

			</tr>
			<tr>
				<td>
					<table border="1" style="width:100%">
						<tr>
							<td colspan="3">
								ELS Eng. Name: &nbsp; &nbsp; &nbsp;<label id="lblelsenername"></label>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								ELS Date:
							</td>
						</tr>
						<tr>
							<td colspan="1">
								ELS Status:
							</td>
							<td colspan="1">
								Pass:
							</td>
							<td colspan="1">
								Fail:
							</td>
						</tr>
						<tr>
							<td colspan="1">
								Category:
							</td>
							<td colspan="1">
								Pre-Owned:
							</td>
							<td colspan="1">
								Unboxed:
							</td>
						</tr>
						<tr>
							<td colspan="3">
								ELS Remarks:
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table border="1" style="width:100%">
						<tr>
							<td>
								Repair Eng. Name(F):
							</td>
							<td colspan="2">
								MPS
							</td>
							<td colspan="1">
								Date
							</td>
						</tr>
						<tr>
							<td colspan="2">
								Final Repair Status:
							</td>
							<td colspan="2">
								<table border="1" style="width:100%">
									<tr>
										<td>OK </td>
										<td> NR</td>
										<td> BER</td>
										<td>PNA </td>
									</tr>
								</table>

							</td>
						</tr>
						<tr>
							<td>
								Final Remarks Status:
							</td>
							<td colspan="3"></td>
						</tr>
					</table>

				</td>
			</tr>

		</table>
	</div>
</div>
