@model doorserve.Models.ServiceCenter.CallDetailsModel
@{
                /**/

                ViewBag.Title = "Edit Client";
                Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="panel-heading">

    <h3 class="m-y-0">Edit Appointment</h3>

</div>
<div class="panel-body">
    @Html.Partial("_AppointmentDetail", Model)
</div>





@section scripts{
    @Scripts.Render("~/bundles/js/form-m")
    <script type="text/javascript" language="javascript">


  

    $(document).ready(function () {

            $("#IsExistingCustomer").attr('disabled', true);
            $("#CustomerContactNumber").attr('disabled', true);
            $("#CustomerTypeId").attr('disabled', true);
            $("#CustomerName").attr('disabled', true);
            $("#CustomerEmail").attr('disabled', true);
            $("#Address").attr('disabled', true);           
            $("#NearLocation").attr('disabled', true);
            $("#PinNumber").attr('disabled', true);
            $("#CountryId").attr('disabled', true);
            $("#StateId").attr('disabled', true);
            $("#CityId").attr('disabled', true);
            $("#DeviceCategoryId").attr('disabled', true);
            $("#DeviceBrandId").attr('disabled', true);
            $("#DeviceModalId").attr('disabled', true);
            $("#DeviceIMEIOne").attr('disabled', true);
            $("#DeviceIMEISecond").attr('disabled', true);
            $("#PurchaseFrom").attr('disabled', true);
            $("#DOP").attr('disabled', true);
            $("#BillNo").attr('disabled', true);
            $("#BillAmount").attr('disabled', true);
            $("#DeviceConditionId").attr('disabled', true);          
        $("input:radio").prop('disabled', true); 

    });

    </script>



}