@model TogoFogo.Models.SMSGateWayMainModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="panel-heading">
    <h3 class="m-y-0">Manage SMS Gateway</h3>
</div>
<div class="panel-body">




    <div class="row">
        <div class="col-md-6">


            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-refresh"></i>
                        </a>
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </div>
                    <h3 class="panel-title">SMS Gateway List</h3>
                    <div class="panel-subtitle"></div>

                </div>
                <!--<div class="row">
                <div class="col-md-6">
                <div class="dataTables_length" id="table-1_length"><label>Show <select name="table-1_length" aria-controls="table-1" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                </div>
                <div class="col-md-6">gf</div>
                </div>-->



                <div class="panel-body" id="Info" style="border:0px solid red">
                    <div class="table-responsive">
                        @if (Model.Rights.View)
                        {
                        @Html.Partial("_SMSGatewayTable", Model.mainModel, new ViewDataDictionary { { "rights", Model.Rights } })
                        }
                    </div>
                </div>
            </div>


        </div>


        <div class="col-md-6">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-refresh"></i>
                        </a>
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </div>
                    <h3 class="panel-title">SMS Gateway Create / Update</h3>
                    <div class="panel-subtitle"></div>


                </div>
                <div class="panel-body" style="border:0px solid red">
                    <div class="row ">
                        <div class="col-md-12 ">
                            @if (Model.Rights.Create)
                            {
                                using (Html.BeginForm("create", "SMSGateway", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form - horizontal" }))
                                {

                                    @Html.Partial("_CreateEditSMSGatewayForm", Model.Gateway);


                                }
                                }

                            </div>

                    </div>




                </div>



            </div><!--panel-body-->


        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function GetGatwayDetails(Id) {
            debugger;
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit","smsGateway")',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data: { Id: Id },
                success: function (response) {
                    $("#GatewayId").val(response.GatewayId);
                    $("#GatewayName").val(response.GatewayName);
                    $("#GatewayTypeId").val(response.GatewayTypeId);
                    $("#IsActive").prop("checked", response.IsActive);
                    $("#OTPApikey").val(response.OTPApikey);
                    $("#OTPSender").val(response.OTPSender);
                    $("#SuccessMessage").val(response.SuccessMessage);
                    $("#TransApikey").val(response.TransApikey);
                    $("#URL").val(response.URL);


                    console.log(response);
                },
                error: function (e) {
                    console.log(e);
                    alert("Something went wrong...");

                },
                complete: function () {

                }
            });
        }
    </script>
}




