@model IEnumerable<TogoFogo.Models.Menu>
<div class="custom-scrollbar">
    <ul class="sidebar-menu" id="sideMenu">

        @foreach (var item in Model)
        {
            if (item.ParentMenuID == 0)
            {
                <li class="with-sub active">
                    <a href="#" aria-haspopup="true">
                        <span class="menu-icon">
                            <i class="zmdi zmdi-home"></i>
                        </span>
                        <span class="menu-text">@item.Menu_Name</span>
                    </a>
                    <ul class="sidebar-submenu collapse">
                        @foreach (var submenu in Model.Where(m => m.ParentMenuID == item.MenuCap_ID))
                        {

                            <li class="menu-subtitl"><a href="@submenu.PagePath">@submenu.Menu_Name </a></li>

                        }
                    </ul>
                </li>

            }
        }
    </ul>

</div>