@model TogoFogo.Models.MenuMasterModel
<div class="custom-scrollbar">
    <ul class="sidebar-menu" id="sideMenu">

        @if (Model != null)
        {
            foreach (var item in Model.ParentMenuList)
            {

                <li class="with-sub active">
                    <a href="#" aria-haspopup="true">
                        <span class="menu-icon">
                            <img src="@item.IconFileNameUl" />
                        </span>
                        <span class="menu-text">@item.ParentMenuName</span>
                    </a>
                    <ul class="sidebar-submenu collapse">
                        @foreach (var submenu in Model.SubMenuList.Where(m => m.ParentMenuId == item.ParentMenuId))
                        {

                            <li class="menu-subtitl"><a href="@submenu.PagePath">@submenu.Menu_Name </a></li>

                        }
                    </ul>
                </li>
            }
        }
    </ul>

</div>