@model TogoFogo.Models.ClientData.CallsViewModel
<div class="panel-body">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="tab-2" role="tab" data-toggle="tab">
                <button type="submit" class="btn btn-success btn-sm">Pending Calls</button>
            </a>
        </li>
        <li>
            <a href="tab-2"role="tab" data-toggle="tab">
                <button type="submit" class="btn btn-primary btn-sm">Closed Calls</button>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tab-2">
            <div class="form-horizontal">
                <h4 class="p-t-20 p-b-20">Opened Calls:</h4>
                 @Html.Partial("_OpenedCallsList",Model.OpenCalls)
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="tab-3">
            <div class="form-horizontal">
                <h4 class="p-t-20 p-b-20">Closed Calls:</h4>
                @Html.Partial("_ClosedCallsList", Model.CloseCalls)
            </div>
        </div>
    </div>
</div>
