@model  IEnumerable<TogoFogo.Models.ClientData.UploadedExcelModel>
@using TogoFogo.Models
@using GridMvc.Html
@{
    @* var i = 0;*@
    int rowNumber = Convert.ToInt32(ViewBag.RowNumber);
    int pageSize = 10;
    int pageNumber = Convert.ToInt32(ViewBag.PageNumber);
    if ((pageNumber) > 1)
    {
        rowNumber = (pageSize) * (pageNumber - 1) + rowNumber;
    }
}


<div class="panel-heading">

    <div class="row">
        <div class="">



            @if (Permissions.Rights.ExcelExport)
            {
                using (Html.BeginForm("ExportToExcel", "ClientData", FormMethod.Get))
                {
                    <div class="col-md-offset-10 col-md-1 text-right">
                        @Html.Hidden("tabIndex", 'T')
                        <button type="submit" class="tools-icon btn btn-primary btn-sm excel"> Template</button>
                    </div>
                }








                using (Html.BeginForm("ExportToExcel", "ClientData", FormMethod.Get))
                {
                    <div class="col-md-1 text-right">
                        @Html.Hidden("tabIndex", 'D')
                        <button type="submit" class="tools-icon btn btn-primary btn-sm excel"> Export to Excel</button>
                    </div>
                }

            }
            @*<button class="btn btn-primary excel">Export to Excel</button>*@

        </div>


    </div>
    </div>
    <div class="x_content" style="overflow-x: scroll;">
        <div class="for-popup-height">
            <div class="code-cut">
                @Html.Grid(Model).Columns(columns =>
            {
               columns.Add()
                    .Titled("#SLN")
                    .SetWidth(10)
                    .RenderValueAs(o =>
                      {
                          rowNumber++;
                          return @<text> @rowNumber </text>;
                     });
               columns.Add(c => c.CreatedOn).Titled("Date And Time").Filterable(true).Format("{0:dd-MM-yyyy}");
               columns.Add(c => c.CRN).Titled("Call ID").Filterable(true);
                 columns.Add(c => c.IsRepeat).Titled("Is Repeat Call").Filterable(true);
               columns.Add(c => c.ClientName).Titled("ClientName").Filterable(true);
               columns.Add(c => c.CustomerName).Titled("Customer Name").Filterable(true);
               columns.Add(c => c.CustomerContactNumber).Titled("Mobile Number").Filterable(true);
               columns.Add(c => c.CustomerEmail).Titled("Email").Filterable(true);
               columns.Add(c => c.ServiceTypeName).Titled("Service Type").Filterable(true);
               columns.Add(c => c.DeliveryTypeName).Titled("Delivery Type").Filterable(true);
               columns.Add(c => c.DeviceCategory).Titled("Category").Filterable(true);
               columns.Add().Titled("Action")
                          .Filterable(true).Sanitized(false).Encoded(false).
                           RenderValueAs(model => Html.ActionLink("Edit", "Edit", new { Crn = model.CRN }, null));
           }).WithPaging(10).Sortable(true)
            </div>
        </div>
    </div>


