@model TogoFogo.Models.ClientData.MainClientDataModel
@using TogoFogo.Models 
@{
    ViewBag.Title = "Client Data";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="panel-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <h3 class="m-y-0">Upload Client Data</h3>
            </div>
            <div class="col-md-6 ">
                <div class="pull-right">
                    @if (Permissions.Rights.ExcelExport)
                    {
                        <button class="btn btn-secondary excel" type="button">
                            Export Excel
                        </button>
                        <a class="btn btn-primary template">
                            <span>
                                Template
                            </span>
                        </a>
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-body">
    @if (Permissions.Rights.Create)
    {
    @Html.Partial("_Createform", Model.client)
    }
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3 class="m-y-0">List Of Uploaded data </h3>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="overflow-x: scroll;">
                    @if (Permissions.Rights.View)
                    {
                        @Html.Partial("_tableList", Model.uploadedData)
                    }
                    </div>
            </div>
        </div>
    </div>
</div>
@section scripts{


    @Scripts.Render("~/bundles/jqueryval")
}