
@{
    ViewBag.Title = "Gst";
}

<div class="panel-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <h3 class="m-y-0">Add Gst Category</h3>
            </div>
            <div class="col-md-6 ">
                <div class="pull-right">
                    <button class="btn btn-secondary">
                        Export Excel
                    </button>

                    <a class="btn btn-primary" href="@Url.Action("AddGst","GstCategory")">

                     Add GST 
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>List Of GST Category<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="overflow-x: scroll;">
                    @Html.Action("GstTable", "GstCategory")
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade" id="Editmodel" tabindex="-1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header  bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Spare Part Price & Stock </h4>
                </div>

                <div class="modal-body" id="Info">@Html.Partial("EditGst")</div>
            </div>

        </div>
    </div>
    @if (ViewBag.Message != null)
    {
        <div id="snackbar">@ViewBag.Message</div>
    }
    @if (ViewBag.Message != null)
    {
        <script>

            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

        </script>
    }
    @section scripts{
        <script>
            function EditGstCategory(gstCategoryId) {
                $.ajax({
                    type: 'GET',
                    url: "/GstCategory/EditGst?gstCategoryId=" + gstCategoryId,
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    success: function (response) {
                        $("#Info").html(response);
                    },
                    error: function (e) {
                        console.log(e);
                        $(".submitbutton").attr("disabled", false);
                        alert("Something went wrong...");

                    },
                    complete: function () {

                        $(".submitbutton").attr("disabled", false);
                    }
                });
            }

        </script>
    }
