@model TogoFogo.Models.ManageCourierApiModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="panel-heading">
    <h3 class="m-y-0">Edit  Courier API</h3>
</div>
<div class="panel-body">
    @using (Html.BeginForm("Edit", "ManageCourierApi", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
       
        @Html.Partial("_AddEditCourierApi", Model)
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-secondary" type="button">@Html.ActionLink("Cancel", "ManageCourierApi", "ManageCourierApi")</button>
                <button type="submit" class="btn btn-success" id="btnNotify">Submit</button>
            </div>
        </div>

    }
</div>
@section scripts{
    <script>
        function AjaxWithValue(method, ddl, e) {
            var val = e.value;
            $.ajax({
                type: "GET",
                url: "/DropdownBind/" + method + "?value=" + val,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#" + ddl).empty();

                    //var sel = new Option('-Select-', '');
                    //$('#' + ddl).append(sel);
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Text, data[i].Value);
                        $('#' + ddl).append(opt);
                    }
                }
            });
        }
    </script>
}