@model TogoFogo.Models.Template.TemplateModel

<div class="row">

    <div class="col-md-4 form-group">

        <label class=" control-label" for="form-control-9">Mailer Template Type</label>
        <select id="form-control-9" class="form-control">
            <option value="corporate">All Mailer Template Type</option>
            <option value="creative">All Mailer Template Type</option>
            <option value="ecommerce">All Mailer Template Type</option>
            <option value="mobile">All Mailer Template Type</option>

        </select>



    </div>


    <div class="col-md-4 form-group">

        <label class=" control-label" for="form-control-9">Message Type</label>



        <select id="form-control-9" class="form-control">
            <option value="corporate">All Mailer Template Type</option>
            <option value="creative">All Mailer Template Type</option>
            <option value="ecommerce">All Mailer Template Type</option>
            <option value="mobile">All Mailer Template Type</option>

        </select>



    </div>


    <div class="col-md-4 form-group">

        <label class=" control-label" for="form-control-9">Action Type</label>



        <select id="form-control-9" class="form-control">
            <option value="corporate">All Mailer Template Type</option>
            <option value="creative">All Mailer Template Type</option>
            <option value="ecommerce">All Mailer Template Type</option>
            <option value="mobile">All Mailer Template Type</option>

        </select>



    </div>


</div>
