@model doorserve.Models.EmailHeaderFooterMainModel
@using doorserve.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="panel-heading">
    <h3 class="m-y-0">Email Header And Footer Template</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-refresh"></i>
                        </a>
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </div>
                    <h3 class="panel-title">Email Header And Footer Template</h3>
                    <div class="panel-subtitle"></div>

                </div>
                <div class="panel-body" style="border:0px solid red">
                    <div class="table-responsive">
                        @if (Permissions.Rights.View)
                        {

                            @Html.Partial("_EmailHeaderFooterTable", Model.mainModel)
                        }
                        </div>
                </div>
            </div>


        </div>

        <div class="col-md-6">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-refresh"></i>
                        </a>
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </div>
                    <h3 class="panel-title">Create / Update</h3>
                    <div class="panel-subtitle"></div>

                </div>
                <div class="panel-body" style="border:0px solid red">
                    <div class="row ">
                        <div class="col-md-12 ">
                            @if (Permissions.Rights.Create)
                            {

                                using (Html.BeginForm("create", "EmailHeaderFooter", FormMethod.Post, new { @class = "form - horizontal" }))
                                {
                                  

                                    @Html.Partial("_CreateEditEmailHeaderFooterForm", Model.EmailHeaderFooter)


                                }
                            }

                            </div>

                    </div>




                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
 
    <script>
        function GetEmailHeaderFooterDetails(Id) {
            debugger;
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit","emailHeaderFooter")',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data: { Id: Id },
                success: function (response) {
                    console.log(response);
                    $("#EmailHeaderFooterId").val(response.EmailHeaderFooterId);
                    $("#CompanyId").val(response.CompanyId);
                    $("#Name").val(response.Name);
                    $("#ActionTypeId").val(response.ActionTypeId);
                    $("#IsActive").prop("checked", response.IsActive);
                    CKEDITOR.instances['editor1'].setData(response.HeaderHTML);
                    CKEDITOR.instances['editor2'].setData(response.FooterHTML);
                    $('.selectpicker').selectpicker('refresh')
                },
                error: function (e) {
                    console.log(e);
                    alert("Something went wrong...");

                },
                complete: function () {

                }
            });
        }
    </script>
}

