@model doorserve.Models.SMTPGatewayModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

        <div class="panel-heading">
   
            <h3 class="m-t-0 m-b-5">Smtp Gateway Edit</h3>
        </div>
 
@using (Html.BeginForm("Edit", "SMTPGateway", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.GatewayId)
    <!--/.row-->


    <div class="panel-body">


        @Html.Partial("_CreateEditSMTPGatewayForm", Model)
        <div class="form-group">
            <div class="pull-right m-r-30">
                <button class="btn btn-primary">
                    Save
                </button>

            </div>
        </div>

    </div>
}



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

