@model  doorserve.Models.ServiceViewModel
@using doorserve.Models
@{
    ViewBag.Title = "ManageServices";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="panel-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <h3 class="m-y-0">Manage Service </h3>
            </div>
        </div>

    </div>

</div>
<div class="panel-body">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
            @using (Html.BeginForm("ManageService", "ManageServiceProviders", FormMethod.Post, new { enctype = "multipart/form-data", id = "ServiceForm" }))
            {
                @Html.HiddenFor(x => x.ServiceId)
                @Html.Partial("~/views/common/_ServicesAddEditForm.cshtml", Model)
                <div class="row form-group pull-right">
                    <button type="button" class="btn btn-primary reset">RESET</button>
                    <button class="btn btn-primary">
                        SAVE
                    </button>
                </div>

            }
        </div>

    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
<script>
     $(".reset").click(function () {
        $(this).closest('form').find("input[type=text], textarea,select").val("");
        $("#ConCity").empty();
        $("#ConState").empty();
        $(this).closest('form').find("input[type=checkbox]").prop('checked', false);
        $('.selectpicker').selectpicker('refresh');
    });

    </script>

}