@model IEnumerable<doorserve.Models.CallHistory>

@{
    var ts = Model.Select(x => x.Date).Distinct().ToList();
}



<div class="wrapper">
    <ul class="StepProgress">
        @foreach (var item in ts)
        {
              var itms = Model.Where(x => x.Date == item).OrderBy(x => x.Date).ToList();
                var prv = "";
        <li class="StepProgress-item is-done">
            <strong>@item</strong>
            @foreach (var subitem in itms)
            {
            <p>Status : <span> @subitem.Status</span> </p>
            <p>Remarks : <span> @subitem.Remarks</span> </p>
            <p>Appointment : <span> @subitem.AppointmentDate</span> </p>
             prv = subitem.Status;
            }
        </li>              
        }
    </ul>
</div>



   
