@model doorserve.Models.WarrantyInformationModel

<div class="panel panel-default panel-table" >
    <div class="panel-body">
        <div class="form-horizontl">
            <h4 class="m-t-0 m-b-25 p-t-10 p-b-10"> Warranty Information</h4>
            <div class="row">
                <div class="form-material">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Status, new { @class = "form-control",@Id="WStatus",@disabled="disabled"  })
                            <label class="floating-label t-0">Status</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.ExpiryDate, "{0:dd/MM/yyyy}", new { @class = "form-control",@id="ExpiryDate",@disabled="disabled"  })
                            <label class="floating-label t-0">Expiry Date</label>
                        </div>
                    </div>


                </div>
            </div>






        </div>
    </div>
</div>

