@model TogoFogo.Models.ServiceCenterModel
@{
    ViewBag.Title = "Edit Client";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

    <div class="panel-heading">

        <h3 class="m-y-0">Edit Service Center</h3>

    </div>
    <div class="panel-body">

        @Html.Partial("_CreateEditCenterForm", Model)
    </div>





@section scripts{



}





