@model TogoFogo.Models.RepairStatusModel
@{
	ViewBag.Title = "RepairStatus";
}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Update Repair Status<small></small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>

				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<br />
				@Html.Action("UpdateRepairStatus", "RepairStatus")
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>List<small></small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>

				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content" style="overflow-x: scroll;">
				@Html.Action("TableRepairStatus", "RepairStatus")
			</div>
		</div>
	</div>
</div>
@if (ViewBag.Message != null)
{
	<div id="snackbar">@ViewBag.Message</div>
}

@if (ViewBag.Message != null)
{
	<script>

        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

	</script>
}
@section Scripts{

}

