@model TogoFogo.Models.ManageStateModel
@{
    /**/

    /**/

    /**/

    ViewBag.Title = "Create State";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="panel-heading">

    <h3 class="m-y-0">Create State</h3>

</div>
@using (Html.BeginForm("Create", "ManageState", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel-body">
        @Html.Partial("_CreateEditState", Model)
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-5  col-md-offset-2">
            <button class="btn btn-primary">SAVE</button>
        </div>
    </div>
}
@section scripts{
}

